<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    <div class="description">
        <h1>The Sparks Foundation Network</h1>
        <h3>Basic Banking System</h3>
        <a href="/view"><button type="button" class="btn btn-outline-danger">view Customer</button></a>
    </div>
</body>
</html>