<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
  <div class="description">
    <table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">send</th>
      <th scope="col">receive</th>
     
    </tr>
 
{{result}}
  </thead>
  <tbody>
  {{#each result}}

    <tr>
      <td>{{this.history.name}}</td>
      <td>{{this.history.send}}</td>
      <td>{{this.history.receive}}</td>
    </tr>

  {{/each}}

  </tbody>
</table>
</div>
    
</body>
</html>